
.threeline{
    margin-left: 30px;
    margin-top: 10px;

}

.threeline div{
    width: 18px;
    height: 2px;
    background: #000;
    margin-top: 4px;
}
.head{
    margin-top: 20px;
    display: flex;
}
.h5{
    margin-left: 30px;
    padding-top: 8px;
}
.btndark{
border-radius: 70px;
margin-left: 1600px;
color: #ffffff;
background: #000;
width: 100px;
height: 30px;
font-weight: 500;
font-size: 15px;
}
.btndark:hover{
background-color: #313131;
}