body{
    height: 360vh;
    background: url(./assets/c413f20400e04805.webp);
    background-repeat: no-repeat;
    background-size:contain;
    margin: 0%;
    padding: 0%;
}

/* ------For Nav ------- */
.threeline{
    margin-left: 30px;
    margin-top: 10px;

}

.threeline div{
    width: 18px;
    height: 2px;
    background: #000;
    margin-top: 4px;
}
.head{
    position: sticky;
    top: 0;
    left: 0;
    /* z-index: 100; */
    /* margin-top: 20px; */
    display: flex;
    padding-top: 10px;
}
.h5{
    margin-left: 30px;
    padding-top: 8px;
}
.button-section{
    margin-left: 1500px;
}
.btndark{
margin-top: 5px;
border-radius: 70px;
margin-left: 20px;
color: #ffffff;
background: #000;
width: 70px;
height: 36px;
font-weight: 500;
font-size: 15px;
border: none;
}
.btnwhite{
    border: none;
    margin-top: 5px;
    border-radius: 70px;
    margin-left: 20px;
    color: #000000;
    background: #ffffff;
    width: 70px;
    height: 36px;
    font-weight: 500;
    font-size: 15px;
    }
.btndark:hover{
background-color: #313131;
}
/* -------for head container------- */
.container-section{
    /* margin-top: 250px; */
    margin: 0%;
    padding-left: 50px;
}

.search-section{
    margin-top: 350px;
}
.search-section h1{
 font-weight: 700;
 padding-left: 10px;
 font-size: 50px;
 color: #000;
}
.search-section input{
    width: 500px;
    height: 55px;
    padding-left: 30px;
    margin-left: 20px;
    margin-top: 30px;
}
.search-section select{
    width: 200px;
    height: 55px;
    padding-left: 30px;
    margin-left: 20px;
    margin-top: 30px;
}


input:focus {
    outline: none;
  }
select:focus{
    outline: none;
}
.search-section  button{
    padding: 13px;
    background-color: #000;
    margin-top: 30px;
    border-radius: 10px;
    color: #ffffff;
    font: weight 500px;;
}
.search-section h5{
    margin-left: 20px;
    font-size: 17px;
    text-decoration: none;
    color: #000;
    margin-top: 30px;
}
.search-section a{
    color: #000;
}

/* ------ for white hero ------ */
.white-hero{
    margin-top: 500px;
}

.hero-section{
    margin: 0%;
    padding-top: 70px;
    padding-left: 40px;
    
}
.hero-item a,img{
    width: 590px;
    height: auto;
}
.hero-item{
    display: flex;
}
.hero-item h1{
    font-size: 26px;
    font-weight: 600px;
    margin-left: 15px;
    color: #000;
}
.item a{
    margin-left: 15px;
    color: #000;
    font-size: 16px;
}

.map-hero{
    margin-left: 100px;
    margin-top: 20px;
    /* padding-left: 200px;
    padding-top: 20px; */
}
.map {
    
    background-image: url("./assets/Screenshot\ 2024-08-23\ 010209.png");
    width: 1700px;
    height: 500px;
    
}
.map h1{
    padding-left: 200px;
    padding-top: 100px;
}
.cities-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .cities-table td {
    padding: 8px;
    text-align: left;
    border: none;
  }
  
  .table-container{
    margin-top: 30px;
    margin-left: 100px;
  }
  .cities-table td:nth-child(1) {
    color: #464646;
  }
  
  .cities-table td:nth-child(2) {
    color: #464646;
  }
  
  .cities-table td:nth-child(3) {
    color: #464646;
  }
  
  .cities-table td:nth-child(4) {
    color: #464646;
  }


  .countries-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .countries-table td {
    padding: 8px;
    text-align: left;
    border: none;
  }
  
  .ct-table{
    margin-top: 30px;
    margin-left: 100px;

  }
  .countries-table td:nth-child(1) {
    color: #464646;
  }
  
  .countries-table td:nth-child(2) {
    color: #464646;
  }
  
  .countries-table td:nth-child(3) {
    color: #464646;
  }
  
  .countries-table td:nth-child(4) {
    color: #464646;
  }

  .footer
{
    width: 100%;
    background-color: #ffffff;
  }
  .footer-container{
    
    display: flex;
  }
  .footer-section{
    margin-top: 200px;
    padding-left: 300px;
  }
  .footer-section h1{
    font-size: 40px;
    padding-left: 10px;
  }
  .footer-section img{
    padding-top: 100px;
    width: 130px;
    height: auto;

  }